/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
} */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 800px;
  max-width: 800px;
  margin-top: 20px;
  height: 400px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}